/*
***************************************
Component: {{pascalCase name}}
Author: {{author}}
Description: {{description}}
***************************************
*/
export default () => (
  <div className="{{dashCase name}}">
    <h1>This is a {{pascalCase name}} component!</h1>
  </div>
);
